/*CSS RESEAT*/

*{ 
    border:0;
    margin:0;
    padding:0;
    }
    main{
        position:relative;
        width:100%;
        height:700px;
        background-color:#c5dbf2;
        margin:auto;
    }

    #menu_superior{
        position:relative;
        width:100%;
        height:20px;
        background-color:#c5dbf2;
    }
   #menu_superior a{
    width:7%;
    font-size:13px;
    font-family:verdana;
    text-align:right;
    color:#000;
    text-decoration:none;
    float:left;
    padding-top:5px;
    padding-bottom:5px;   
   }

   nav img{
       position:relative;
       left:340%; 
       float: right;
   }
   #figura{
    position:relative;
    left:5%;
   }
   #conectar{
    position: relative;
    font-family:calibri;
    text-align:center;
    padding:13px;
    font-size:13pt;
    color:#000;
    left:30%;
    top:10px;
    margin:auto;
    padding:5px;  
    border:solid 2px #000;
    width: 80px;
    height:130px;
    background-color:#c3d9f5;
   }
   #cadastre{
    position: relative;
    font-family:calibri;
    text-align:center;
    padding:10px;
    font-size:10pt;
    color:#fff;
    left:31%;
    top:10px; 
    width: 80px;
    height:250px;
    background-color:#007c89;
   }

section p{
    position:relative;
    font-family:LibreBaskerville-Bold;
    color:#0c0d0d;
    font-size:38pt;
    text-align:left;
    height:135%;
    width:30%;
    margin-left:13%;
    margin-top:10%;
    margin-bottom:2%;

  }
#paragrafo{
    position:absolute;
    font-family:verdana;
    font-size:17pt;
    text-align:left;
    color:#67696b;
    height:20%;
    width:30%;
    margin-left:13%;
    margin-bottom:2%;
    text-decoration:none;
}
#saiba_mais{
    position: relative;
    font-family:calibri;
    font-weight:bold;
    text-align:center;
    padding:10px;
    font-size:10pt;
    color:#fff;
    width: 105px;
    height: 15px;
    top:125px;
    margin-left:13%;
    margin-bottom:50%;
    background-color:#008080;
}
  
    #imagem1{
     font-family:verdana,arial;
     color:#ff7f50;
     text-align:center;
     font-size:15pt;
     padding:1%;
        position: absolute;
        width:400px;
        height:250px;
        left:50%;
        top:170px;
        background-color:#f7d5c5;
        border-radius: 5px;
        border:solid 2px #000;
    }
    div img{
        position:absolute;
        right:40%;
      padding:10%;
      top:15;

    }
    #carrinho{
        position: absolute;
        width:50px;
        height:400px;
        left:80%;
        top:170px;
    }

    #pontinhos{
        position:absolute;
        top:175px;
        left:52.7%;
    }
  #imagem2{
    position:absolute;
    font-family:LibreBaskerville-Bold;
    text-align:left;
    padding:8px;
    padding-top:2px;
    padding-left:1px;
    margin:1%;
    background:#fff;
    background-image:linear-gradient( #C0C0C0 8% , #fff 25% );
    border:2px solid #000;
    border-radius: 5%;
    box-shadow: 5px 5px 2px;
    left:70%;
    width:190px;
    height:190px;
    top:37%;

}

#continue{
    position:absolute;
    text-align:center;
    font-size:8pt;
    color:#fff;
    font-family:verdana,arial;
    left:74%;
    border-radius:10px;
    width: 130px;
    padding:3px;
    height:17px;
    top:62%;
    background-color:#008080;
}